<!doctype = html>
<html>
<head>
<title>PRACTICE SESSION</title>
<style type="text/css">
<!--
body {
font-family: Arial;
}

h1 {
text-align: center;
}

#box {
background-color: rgb(177, 161, 161);
border: 5px solid rgb(12, 9, 9);
border-radius: 10px;
color: black;
margin: 20px 0px 0px 0px;
padding: 10px;
text-align: left;
width: 95%;
}

p {
text-align: center
}

foot {
text-align: center
font-family: Arial;
}

</style>
</head>
<body>

<div align=center>
<div id=box>
<h1>Here is my analysis of those numbers:</h1><br>

<ul align = "left">
    {% for drop in honey %}
    <li>{{drop}}</li>
    {% endfor %}
</ul>

<br>

<h3>You visited the main page at: {{time}}</h3>

</div>

</body>
<foot align = center>
        <h6>Public Domain Mark 1.0</h6>
        </foot>
        <br><br>
</html>

