{% extends "base.html" %}

{% block content %}

<div align=center>
<div id=box>

  <h1>I Just Called To Say:</h1>

  <p>'Hello, world.'</p>

 <br><br>

 <h3 align = "center">Please give me some text.</h3>

<br><br>

<form action = '/answer' method = 'POST' align = "center">

  <h2>Let's Get Started.</h2><br>
  <label> Please enter a piece of text.<br><br>
          <input name="textchunk" type="text" value = "" />
      </label>

<br><br>

  <label> Please enter a second piece of text.<br><br>
          <input name="textchunk2" type = "text" value = "" />
      </label>

<br><br>

  <label>Please enter a third piece of text.<br><br>
    <input name="textchunk3" type = "text" value = "" />
   </label>

<br><br>

<input type="submit" />

<br><br>
</div>
</form>

{% endblock %}

